{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
{% for advert in adverts %}
<h2>{{ advert.title }}</h2>
<h3>description:</h3>
<p>{{ advert.description }}</p>
<a href="{{ path('showAdvert', {'id':advert.id}) }}" > En savoir plus</a>
{% endfor %}
{% endblock %}